* {
	margin: 0;
	padding: 0;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

#body_background {
	position: fixed;
	z-index: -999;
	background-image: url(../img/bg_contents.jpg);
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	margin-top: 35px;
	margin-bottom: 20px;
}

/*ナビゲーションバー*/
nav{
	background-color: #fe9e1a;
	position: fixed;
	z-index: 999;
	top: 0;
	width: 100%;
	box-shadow:5px 0px 5px #999;
	height: 35px;
	-webkit-transform: translateZ(0)
}

nav.pc ul {
	list-style: none;
	width: 530px;
}

nav.pc li {
	float: left;
	text-align: center;
	background-color: #fe9e1a;
	height: 35px;
	border-right: 1px solid #e88432;
}

nav.pc li:nth-child(1){
	width: 100px;
}

nav.pc li:nth-child(2){
	width: 200px;
}

nav.pc li:nth-child(3){
	width: 120px;
}

nav.pc li:nth-child(4){
	width: 100px;
}

nav.pc li a{
	text-decoration: none;
	display: block;
	color: white;
	font-size: 14px;
	line-height: 35px;
}

nav.pc a:hover{
	background-color: #e88432;
	text-decoration: none;
	color: white;
}

nav.sp {
	display: none;
}

/*タイトル*/

#title {
	margin-top: 20px;	
	color: #fff;
}

#title p {
	text-align: center;
	font-weight: bold;
	font-family:  "Hiragino Maru Gothic Pro";
	font-size: 100px;
}

#title h1{
	width: 70%;
	text-align: center;
	font-size: 20px;
	border-bottom:5px #fff dashed;
	margin: 0 auto;
	padding-bottom: 20px;
}

/*コンテンツ*/
#contents {
	padding-top: 35px;
	padding-bottom: 20px;
	width: 100%;
}

section {
	margin:80px auto 30px;
	background:rgba(0,0,0,0.6);
	border-radius:10px;
	height: auto;
	width: 53%;
	color: #fff;
	padding: 10px;
}

section h2 {
	text-align: center;
	font-size: 24px;
	padding: 10px
}

.content_inside {
	width: 80%;
	position: relative;
	margin: 10px auto 0;
	padding-bottom: 28px;
}

#top {
	margin-top: -35px;
	padding-top: 35px;
}

#content1,#content2,#content3 {
	display: block;
	height: 100%;
	margin-top: -35px;
	padding-top: 35px;
}

/*フッター*/
footer{
	height: 20px;
	background-color: #fe9e1a;
	position: fixed;
	z-index: 9999;
	bottom: 0;
	width: 100%;
	-webkit-transform: translateZ(0);
}

footer p {
	text-align: center;
	color: white;
	font-size: 12px;
	line-height: 20px;
}

/*snsリンク*/
.sns_link {
	position: fixed;
	top: 40%;
	left: 0;
}

.sns_link p{
	height: 30px;
	width: 100px;
	font-size: 14px;
	line-height: 30px;	
	z-index: 999;
}

.sns_link a {
	text-decoration: none;
	display: block;
	color: white;
	line-height: 30px;
	border-radius: 0px 7px 7px 0;
}

.sns_link a:hover {
	text-decoration: none;
	color: white;
}

.sns_link .fb {
	background: #428bca;
}

.sns_link .fb:hover {
	background: #3071a9
}

.sns_link .twi {
	background: #5bc0de;
}

.sns_link .twi:hover {
	background: #31b0d5;
}

.sns_link .fa {
	padding-left: 7px;
}

/*font-awesome*/
.fa {
	padding-right: 5px;
}

.link_more {
	width: 95px;
	font-size: 13px;
	line-height: 24px;
	position: absolute;
	bottom: 0;
	right: 0;
	text-align: center;
}

.link_more a{
	text-decoration: none;
	display: block;
	background: #d9534f;
	color: white;
	border-radius: 5px;
	line-height: 24px;
}

.link_more a:hover {
	background: #c9302c;
}

.link_more .fa {
	padding-right: 0;
	padding-left: 3px;
}


/*レスポンシブデザイン*/
@media all and (max-width: 520px){
	#body_background {
		margin-top: 30px;
	}

	nav.pc {
		display: none;
	}

	nav.sp {
		display:block;
	}

	nav {
		height: 30px;
	}
	
	#title h1{
		width: 70%;
		margin:0 auto;
		font-size: 16px;
	}

	#title p{
		font-size: 50px;
	}

	#dropmenu {
		list-style: none;
		width: 100%;
		height: 30px;
		background: #fe9e1a;
	}

	#dropmenu li.nav_top{
		float: left;
		width: 100px;
		text-align: center;
		border-right: 1px solid #e88432;
		height: 30px;
	}

	#dropmenu li.nav_menu {
		position: relative;
		width: 100px;
		float: right;
		text-align: center;
		border-left: 1px solid #e88432;
		height: 30px;
	}

	#dropmenu li a {
		display: block;
		color: white;
		background: #fe9e1a;
		font-size: 14px;
		line-height: 30px;
		text-decoration: none;
	}

	#dropmenu li:hover > a {
		background: #e88432;
	}

	#dropmenu ul {
		list-style: none;
		position: absolute;
		top: 100%;
		right: 0;
	}	


	#dropmenu ul li{
		overflow: hidden;
		width: 220px;
		height: 0;
		text-align: left;
		transition: .2s;
	}

	#dropmenu ul li a {
		padding-left: 20px;
	}

	#dropmenu ul li.hamburger {
		overflow: visible;
		height: 30px;
	}

	#contents {
		padding-top: 30px;
	}

	.sns_sp {
		width: 35px;
		float: right;
	}

	.sns_sp i{
		width: 35px;
		padding: 0;
		line-height: 30px;
	}

	.sns_sp .fa:before {
		padding-left: 11px;
	}

	.sns_link {
		display: none;
	}
	/*コンテンツ*/
	section {
		margin-top: 50px;
		width: 75%;
	}

	section h2 {
		font-size: 18px;
	}

	.content_inside p {
		font-size: 14px;
	}
	
	footer {
		position: static;
	}



}	

