* {
	margin: 0;
	padding: 0;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

#body_background {
	position: fixed;
	z-index: -999;
	background-image: url(../img/bg_contents.jpg);
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	margin-top: 35px;
	margin-bottom: 20px;
}

/*ナビゲーションバー*/
nav{
	background-color: #fe9e1a;
	position: fixed;
	z-index: 999;
	top: 0;
	width: 100%;
	box-shadow:5px 0px 5px #999;
	height: 35px;
	-webkit-transform: translateZ(0)
}

nav.pc ul {
	list-style: none;
	width: 530px;
}

nav.pc li {
	float: left;
	text-align: center;
	background-color: #fe9e1a;
	height: 35px;
	border-right: 1px solid #e88432;
}

nav.pc li:nth-child(1){
	width: 100px;
}

nav.pc li:nth-child(2){
	width: 200px;
}

nav.pc li:nth-child(3){
	width: 120px;
}

nav.pc li:nth-child(4){
	width: 100px;
}

nav.pc li a{
	text-decoration: none;
	display: block;
	color: white;
	font-size: 14px;
	line-height: 35px;
}

nav.pc a:hover{
	background-color: #e88432;
	text-decoration: none;
	color: white;
}

nav.sp {
	display: none;
}

/*フッター*/
footer{
	height: 20px;
	background-color: #fe9e1a;
	position: fixed;
	z-index: 9999;
	bottom: 0;
	width: 100%;
	-webkit-transform: translateZ(0);
}

footer p {
	text-align: center;
	color: white;
	font-size: 12px;
	line-height: 20px;
}