* {
	margin: 0;
	padding: 0;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

#body_background {
	position: fixed;
	z-index: -999;
	background-image: url(../img/bg_contents.jpg);
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	margin-top: 35px;
	margin-bottom: 20px;
}

/*ナビゲーションバー*/
nav{
	background-color: #fe9e1a;
	position: fixed;
	z-index: 999;
	top: 0;
	width: 100%;
	box-shadow:5px 0px 5px #999;
	height: 35px;
	-webkit-transform: translateZ(0)
}

nav.pc ul {
	list-style: none;
	width: 530px;
}

nav.pc li {
	float: left;
	text-align: center;
	background-color: #fe9e1a;
	height: 35px;
	border-right: 1px solid #e88432;
}

nav.pc li:nth-child(1){
	width: 100px;
}

nav.pc li:nth-child(2){
	width: 200px;
}

nav.pc li:nth-child(3){
	width: 120px;
}

nav.pc li:nth-child(4){
	width: 100px;
}

nav.pc li a{
	text-decoration: none;
	display: block;
	color: white;
	font-size: 14px;
	line-height: 35px;
}

nav.pc a:hover{
	background-color: #e88432;
	text-decoration: none;
	color: white;
}

nav.sp {
	display: none;
}

/*タイトル*/

#title {
	margin-top: 20px;	
	color: #fff;
}

#title p {
	text-align: center;
	font-weight: bold;
	font-family:  "Hiragino Maru Gothic Pro";
	font-size: 100px;
}

#title h1{
	text-align: center;
	font-size: 20px;
	border-bottom:5px #fff dashed;
	margin: 0 170px;
	padding-bottom: 20px;
}

/*コンテンツ*/
#contents {
	padding-top: 35px;
	padding-bottom: 20px;
	width: 100%;
}

/*フッター*/
footer{
	height: 20px;
	background-color: #fe9e1a;
	position: fixed;
	z-index: 9999;
	bottom: 0;
	width: 100%;
	-webkit-transform: translateZ(0);
}

footer p {
	text-align: center;
	color: white;
	font-size: 12px;
	line-height: 20px;
}

/*snsリンク*/
.sns_link {
	position: fixed;
	top: 40%;
	left: 0;
}

.sns_link p{
	height: 30px;
	width: 100px;
	font-size: 14px;
	line-height: 30px;	
	z-index: 999;
}

.sns_link a {
	text-decoration: none;
	display: block;
	color: white;
	line-height: 30px;
	border-radius: 0px 7px 7px 0;
}

.sns_link .fb {
	background: #428bca;
}

.sns_link .fb:hover {
	background: #3071a9
}

.sns_link .twi {
	background: #5bc0de;
}

.sns_link .twi:hover {
	background: #31b0d5;
}

.sns_link .fa {
	padding-left: 7px;
}

/*font-awesome*/
.fa {
	padding-right: 5px;
}

.link_more {
	width: 85px;
	float: right;
	font-size: 13px;
	line-height: 24px;
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.link_more a{
	text-decoration: none;
	color: blue;
	display: block;
	background: #d9534f;
	color: white;
	border-radius: 5px;
	line-height: 24px;
}

.link_more a:hover {
	background: #c9302c;
}

.link_more .fa {
	padding-right: 0;
	padding-left: 3px;
}